[data-cellid="footer_c1"][data-page=".global_login"][data-cellid="footer_c1"][data-page=".global_login"][data-cellid="footer_c1"][data-page=".global_login"] {
  width: 33.33333333%;
}
[data-cellid="footer_c2"][data-page=".global_login"][data-cellid="footer_c2"][data-page=".global_login"][data-cellid="footer_c2"][data-page=".global_login"] {
  width: 66.66666667%;
}
[data-page=".global_login"][data-itemid="loginform_register_link"] > .btn {
  background-color: #ffffff;
  background-image: none;
  text-shadow: none;
  color: #ffffff;
}

/* Put  your custom CSS code here */

[data-cellid="superbottom_c1"][data-page=".global_login"][data-cellid="superbottom_c1"][data-page=".global_login"][data-cellid="superbottom_c1"][data-page=".global_login"] {
  color: red;
}
#loginform_register_link {
    display:none;
}/* Put  your custom CSS code here */

[data-page=".global_login"][data-itemid="loginform_register_link"] {
  color: red;
}
span>loginform_register_link {
    display:none;
}
/* se ponen los colores de back y color en blanco para ocultarlo*/
