[data-cellid="grid_c3"][data-page="registro_edit"][data-cellid="grid_c3"][data-page="registro_edit"][data-cellid="grid_c3"][data-page="registro_edit"] {
  border: none;
  width: 100%;
  height: 100%;
}
[data-page="registro_edit"][data-itemid="integrated_edit_texto"][data-page="registro_edit"][data-itemid="integrated_edit_texto"][data-page="registro_edit"][data-itemid="integrated_edit_texto"][data-page="registro_edit"][data-itemid="integrated_edit_texto"] {
  width: 100%;
}

/* Put  your custom CSS code here */

[data-page="registro_edit"][data-itemid="integrated_edit_texto"] {
  color: red;
}

