[data-cellid="grid_c3"][data-page="registro_add"][data-cellid="grid_c3"][data-page="registro_add"][data-cellid="grid_c3"][data-page="registro_add"] {
  width: 100%;
  height: 100%;
}
[data-page="registro_add"][data-itemid="integrated_edit_field3"][data-page="registro_add"][data-itemid="integrated_edit_field3"][data-page="registro_add"][data-itemid="integrated_edit_field3"][data-page="registro_add"][data-itemid="integrated_edit_field3"] {
  width: 90%;
}


