[data-page="registro_view"][data-itemid="integrated_edit_field4"][data-page="registro_view"][data-itemid="integrated_edit_field4"][data-page="registro_view"][data-itemid="integrated_edit_field4"][data-page="registro_view"][data-itemid="integrated_edit_field4"] {
  width: 100%;
}

/* Put  your custom CSS code here */

[data-cellid="below-grid_c2"][data-page="registro_view"][data-cellid="below-grid_c2"][data-page="registro_view"][data-cellid="below-grid_c2"][data-page="registro_view"] {
  color: red;
}
/* Put  your custom CSS code here */

[data-page="registro_view"][data-itemid="integrated_edit_field4"] {
  color: red;
}
span {border:none;}
pre {
    background-color: #ffffff;
    border: 0px solid #ffffff;
    
}
